body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar a:hover {
    background-color: #e2e6ea;
    transform: scale(1.05);
}

.sidebar a.active {
    background-color: #e2e6ea;
    transform: scale(1.05);
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    
}

.navbar {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .logout-btn {
    margin-left: auto;
    color: white;
} 